.parent{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
body{
    margin: 0;
    padding: 0;

}
.child{
    background-color: aliceblue;
    border: 1px solid red;
    border-radius: 50px;
    width: 30%;
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%,-50%);
}
